################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ServerCode/ProjectManager/ProjectManager/obj
/ServerCode/ProjectManager/ProjectManager.Tests
/223677_Project_Manager_Setup_Document.docx
